<div class="card-body p-4">
     <h3 class="card-tittle text-center mb-4">Agregar nuevo usuario</h3>
    <form [formGroup]="form" (submit)="enviarDatos()">

        <div class="card shadow border-0 bg-dark text-white">

            <div class="card-body p-4">

                <h4 class="card-tittle text-success mb-4"><i class="bi bi-person-badge-fill"> </i> Información personal</h4>
                    <div class="card p-3 w-100 h-100">
                        <label class="form-label fw-bold">Imagen</label>
                        <input type="file" (change)="imagenCargada($event)" accept="image/*" class="form-control mb-2"
                            name="imagenFile" id="imagenFile" formControlName="Imagen">
                        <img id="previewImage" style="max-width: 300px; max-height: auto" class="mx-auto" src="#" />
                    </div>
                <div class="mb-3">
                    <label class="form-label">Nombre: </label>
                    <input type="text" class="form-control bg-dark text-success border border-success"
                        formControlName="Nombre" placeholder="Nombre">
                </div>


                <div class="mb-3">
                    <label class="form-label">Apellido Paterno</label>
                    <input type="text" class="form-control bg-dark border border-success text-success"
                        formControlName="ApellidoPaterno" placeholder="Apellido Paterno">

                </div>
                <div class="mb-3">
                    <label class="form-label">Apellido Materno</label>
                    <input type="text" class="form-control bg-dark border border-success text-success"
                        formControlName="ApellidoMaterno" placeholder="Apellido Materno">


                </div>

                <div class="mb-3">
                    <label class="form-label text-white fs-5">Fecha de nacimiento</label><br>
                    <input type="date" min="1930-01-01" max="2007-12-12"
                        class="form-control bg-dark border border-success text-success" onkeydown="return false"
                        formControlName="FechaNacimiento">

                </div>

                <div class="mb-3">
                    <label class="form-label">CURP</label>
                    <input type="text" class="form-control bg-dark border border-success text-success"
                        formControlName="CURP" placeholder="Apellido Paterno" formControlName="CURP">

                </div>

                <div class="mb-3">
                    <label class="form-label">Sexo</label> <br>
                    <input class="form-check-input" type="radio" name="radioSexo" id="radiosexo1" value="Ma" checked
                        formControlName="Sexo"><label class="pe-2 text-success" >
                        Masculino</label> <br>
                    <input class="form-check-input" type="radio" name="radioSexo" id="radiosexo2" value="FE"
                        formControlName="Sexo"><label class="text-success"> Femenino</label>

                </div>





            </div>





        </div>


        <div class=" card shadow border-0 bg-dark text-white">

            <div class="card-body p-4">

                <h4 class="card-tittle text-success mb-4"><i class="bi bi-person-vcard"></i> Información de contacto</h4>

                <div class="mb-3">
                    <label class="form-label text-white fs-5">Username</label><br>
                    <input class="form-control bg-dark border border-success text-success" formControlName="Username">

                </div>

                <div class="mb-3" >
                    <label class="form-label text-white fs-5">Rol</label>
                    <select class="form-select form-select-sm w-25 bg-dark text-success border-success" formControlName="Rol">

                        <option value=0 selected> Seleccione un Rol</option>
                        @for (rol of roles; track rol.idRol) {

                        <option [value]="rol.idRol" [text]="rol.NombreRol" ></option>

                        }
                    </select>


                </div>

                <div class="mb-3">
                    <label class="form-label text-white fs-5">Celular</label><br>
                    <input class="form-control bg-dark border border-success text-success" formControlName="Celular">

                </div>
                <div class="mb-3">
                    <label class="form-label text-white fs-5">Número telefónico</label><br>
                    <input class="form-control bg-dark border border-success text-success" formControlName="NumeroTelefonico">

                </div>

                <div class="mb-3">
                    <label class="form-label text-white fs-5">Correo</label><br>
                    <input class="form-control bg-dark border border-success text-success" formControlName="Email">

                </div>

                <div class="mb-3">
                    <label class="form-label text-white fs-5">Contraseña</label><br>
                    <input class="form-control bg-dark border border-success text-success" formControlName="Password">

                </div>

            </div>

        </div>

        


        <div class="card shadow bg-dark border-0 text-white" >
            <div class="card-body p-4">

                <h4 class="card-tittle text-success mb-4"><i class="bi bi-geo-alt"></i> Domicilio </h4>

                <div class="mb-3" formArrayName="Direcciones">
                    <label class="form-label text-white fs-5">Pais</label>
                    <select id="ddlpais" class="form-select form-select-sm w-25 bg-dark text-success border-success"
                        (change)="cambioPais($event)">

                        <option value=0 selected> Seleccione un pais</option>
                        @for (pais of paises; track pais.idPais) {

                        <option id="idpais" [value]="pais.idPais" [text]="pais.Nombre"></option>

                        }
                    </select>

                </div>
                <div class="mb-3">
                    <label class="form-label text-white fs-5">Estado</label>
                    <select id="ddlestado" class="form-select form-select-sm w-25 bg-dark text-success border-success"
                        (change)="cambioEstado($event)">

                        <option value=0 selected> Seleccione un estado</option>
                        @for (estado of estados; track estado.idEstado) {

                        <option [value]="estado.idEstado" [text]="estado.Nombre"></option>

                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label text-white fs-5">Municipio</label>
                    <select id="ddlmunicipio"
                        class="form-select form-select-sm w-25 bg-dark text-success border-success"
                        (change)="cambioMunicipio($event)">

                        <option value=0 selected> Seleccione un estado</option>
                        @for (municipio of municipios; track municipio.idMunicipio) {

                        <option [value]=municipio.idMunicipio [text]=municipio.Nombre></option>

                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label text-white fs-5">Colonia</label>
                    <select id="ddlmunicipio"
                        class="form-select form-select-sm w-25 bg-dark text-success border-success">

                        <option value=0 selected> Seleccione una colonia</option>
                        @for (colonia of colonias; track colonia.idColonia) {

                        <option [value]=colonia.idColonia [text]=colonia.Nombre></option>

                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label text-white fs-5">Código Postal</label>
                    <input class="form-control bg-dark border border-success text-success" formControlName="CodigoPostal">
                    <label class="form-label text-white fs-5">Calle</label>
                    <input class="form-control bg-dark border border-success text-success" formControlName="Calle">
                    <label class="form-label text-white fs-5">Numero Interior</label>
                    <input class="form-control bg-dark border border-success text-success" formControlName="NumeroInterior">
                    <label class="form-label text-white fs-5">Numero Exterior</label>
                    <input class="form-control bg-dark border border-success text-success" formControlName="NumeroExterior">

                </div>



            </div>


        </div>



        <div class="text-center">
            
                <a class="btn btn-danger m-4" routerLink="">Cancelar</a>
                <button type="submit" class="btn btn-success btn-lg">Crear nuevo usuario</button>

        </div>

    </form>
</div>
 
<!-- <div class="container shadow-lg">

    <div class="row m-4">
        <div class="col-md-12">
            <h2>Agregar informacion del nuevo usuario:</h2>
        </div>
    </div>

    <div>
        <form [formGroup]="form" (submit)="enviarDatos()" class="row m-4">
            <h5 class="row m-4">Informacion basica del usuario:</h5>
            <div class="row m-4">
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Nombre" formControlName="Nombre">
                </div>
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Apellido Paterno" formControlName="ApellidoPaterno">
                </div>
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Apellido Materno" formControlName="ApellidoMaterno">
                </div>

            </div>

            <div class="row m-4">
                <div class="col-md-3">
                    <input type="date" class="form-control shadow" formControlName="FechaNacimiento">
                </div>
                <div class="col-md-3">
                    <input class="form-control shadow" placeholder="CURP" formControlName="Curp">
                </div>
                <div class="col-md-6">
                    <div>
                        <input class="form-check-input mx-3" type="radio" value="Ma" formControlName="Sexo">
                        <label class="form-check-label">Hombre</label>

                        <input class="form-check-input mx-3" type="radio" value="Fe" formControlName="Sexo">
                        <label class="form-check-label">Mujer</label>
                    </div>
                </div>
            </div>

            <h5 class="row m-4">Contacto del usuario:</h5>
            <div class="row m-4">
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Celular" formControlName="Celular">
                </div>
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Telefono" formControlName="NumeroTelefonico">
                </div>
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Email" formControlName="Email">
                </div>
            </div>

            <h5 class="row m-4">Permisos:</h5>
            <div class="row m-4">
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Username" formControlName="Username">
                </div>
                <div class="col-md-4">
                    <input type="password" class="form-control shadow" placeholder="Password"
                        formControlName="Password">
                </div>
                <div class="col-md-4">

                    <select class="form-select" formControlName="Rol">
                        <option [ngValue]="null">Selecciona tu rol</option>
                        @for (rol of roles; track rol.idRol) {
                        <option [ngValue]="rol" [text]=rol.NombreRol></option>
                        }
                    </select>

                </div>
            </div>

            <h5 class="row m-4">Direccion:</h5>
            <div formArrayName="Direcciones">
                <div formGroupName="0">
                    <div class="row m-4">
                        <div class="col-md-3">
                            <select class="form-select" (change)="cambioPais($event)">
                                <option>Pais</option>
                                @for (pais of paises; track pais.idPais) {
                                <option [value]=pais.idPais [text]=pais.Nombre></option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select" (change)="cambioEstado($event)">
                                <option>Estado</option>
                                @for (estado of estados; track estado.idEstado) {
                                <option [value]=estado.idEstado [text]=estado.Nombre>Estado</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select" (change)="cambioMunicipio($event)">
                                <option>Municipio</option>
                                @for (municipio of municipios; track municipio.idMunicipio) {
                                <option [value]=municipio.idMunicipio [text]=municipio.Nombre></option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select" formControlName="colonia">
                                <option [ngValue]="null">Colonia</option>
                                @for (colonia of colonias; track colonia.idColonia) {
                                <option [ngValue]="colonia" [text]=colonia.Nombre></option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row m-4">

                        <div class="col-md-3">
                            <input class="form-control shadow" placeholder="Codigo Postal"
                                formControlName="CodigoPostal">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control shadow" placeholder="Calle" formControlName="Calle">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control shadow" placeholder="No. Interior"
                                formControlName="NumeroInterior">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control shadow" placeholder="No.Exterior"
                                formControlName="NumeroExterior">
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="row m-4">Imagen:</h5>
            <div class="row m-4">
                <div class="col-md-4 text-center d-flex flex-column align-items-center">
                    <div class="card p-3 w-100 h-100">
                        <label class="form-label fw-bold">Imagen</label>
                        <input type="file" (change)="imagenCargada($event)" accept="image/*" class="form-control mb-2"
                            name="imagenFile" id="imagenFile" formControlName="Imagen">
                        <img id="previewImage" style="max-width: 300px; max-height: auto" class="mx-auto" src="#" />
                    </div>
                </div>

                <div class="col-md-1">
                    <label>Agregar</label>
                </div>

                <div class="col-md-1">
                    <button type="submit" class="btn btn-success"><i class="bi bi-person-fill-add"></i></button>
                </div>

                <div class="col-md-1">
                    <label>Cancelar</label>
                </div>

                <div class="col-md-2">
                    <button type="reset" value="Cancelar" class="btn btn-danger"><i
                            class="bi bi-x-square-fill"></i></button>
                </div>

            </div>



        </form>
    </div>

</div> -->