span{
    color: rgb(5, 142, 5);
}

checkbox {
  accent-color: #28a745; /* Cambia al color que quieras (ej. verde éxito) */
}
.form-check-input:checked {
  background-color: #28a745; /* Tu color deseado */
  border-color: #28a745;
}

.form-check-input {
  background-color: red; /* Tu color deseado */
  border-color: red;
}

.sexoSpanMan{
  color: blue;
}

.sexoSpanWoman{
  color: rgb(210, 42, 202);
}
