span{
    color: rgb(5, 142, 5);
}

restcontroller

/*
 * Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
 * Click nbfs://nbhost/SystemFileSystem/Templates/Classes/Class.java to edit this template
 */
package DAraizaPruebaTecnicaSortedFilter.demo.RestController;

import DAraizaPruebaTecnicaSortedFilter.demo.DAO.UsuarioNoDAOImplementation;
import DAraizaPruebaTecnicaSortedFilter.demo.ML.Result;
import DAraizaPruebaTecnicaSortedFilter.demo.ML.Usuario;
import java.util.ArrayList;
import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

/**
 *
 * @author digis
 */
@RestController
@RequestMapping("api")
public class UsuarioRestController {

    @Autowired
    private UsuarioNoDAOImplementation usuarioNoDAOImplementation;

    @GetMapping
    public ResponseEntity ObtenerDatos() {
        List<Usuario> usuario = new ArrayList<>();
        try {
            usuario = usuarioNoDAOImplementation.GetALL();

            return ResponseEntity.ok(usuario);

        } catch (Exception ex) {
            return ResponseEntity.status(500).body(ex);
        }
    }

    @GetMapping("/users/sorter")
    public ResponseEntity SortedBy(@RequestParam("sortedBy") String sortedBy) {
        List<Usuario> usuario = new ArrayList<>();

        try {
            usuario = usuarioNoDAOImplementation.Sorted(sortedBy);

            return ResponseEntity.ok(usuario);

        } catch (Exception ex) {
            return ResponseEntity.status(500).body(ex);

        }
    }

    @GetMapping("/users/filter")
    public ResponseEntity FilterBy(@RequestParam("filterBy") String filterBy) {
        List<Usuario> usuario = new ArrayList<>();

        try {
            usuario = usuarioNoDAOImplementation.Filter(filterBy);

            return ResponseEntity.ok(usuario);

        } catch (Exception ex) {
            return ResponseEntity.status(500).body(ex);

        }
    }

    @PostMapping("POST/users")
    public ResponseEntity Add(@RequestBody Usuario usuario) {
        Result result = new Result();
        try {
            result = usuarioNoDAOImplementation.Post(usuario);

            if (result.correct) {
                return ResponseEntity.ok(result);
            } else {
                return ResponseEntity.status(400).body(result);
            }
        } catch (Exception ex) {
            result.correct = false;
            result.errorMessage = ex.getLocalizedMessage();
            result.ex = ex;
        }
        return ResponseEntity.status(500).body("No se pudo ejecutar la accion");
    }
}



 NODAOIMPLEMENTATION

 /*
 * Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
 * Click nbfs://nbhost/SystemFileSystem/Templates/Classes/Class.java to edit this template
 */
package DAraizaPruebaTecnicaSortedFilter.demo.DAO;

import Component.UsuarioComponent;
import DAraizaPruebaTecnicaSortedFilter.demo.ML.Direccion;
import DAraizaPruebaTecnicaSortedFilter.demo.ML.Result;
import DAraizaPruebaTecnicaSortedFilter.demo.ML.Usuario;
import java.time.LocalDate;
import java.time.Month;
import java.util.ArrayList;
import java.util.List;
import java.util.UUID;
import java.util.stream.Collector;
import static java.util.stream.Collectors.toList;
import static java.util.stream.Collectors.toSet;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Repository;
import org.springframework.stereotype.Service;

/**
 *
 * @author digis
 */
@Service
public class UsuarioNoDAOImplementation implements IUsuario {

    private List<Usuario> lista;
    @Autowired
     UsuarioComponent usuarioComponent;
    
    
    @Override
    public ArrayList<Usuario> GetALL() {
        
      

        return new ArrayList<>(usuarioComponent.getLista());

        
        
        
        
    }
    
    public List<Usuario> Sorted(String sortedBy){
        
        Result result = new Result();
        
        List<Usuario> lista = GetALL();
        
        if(sortedBy == null || sortedBy.isEmpty()){
            return lista;
        }
        
        return lista.stream().sorted((p1, p2)->{
            switch (sortedBy.toLowerCase()) {
                case "email":
                    return p1.getEmail().compareTo(p2.getEmail());
                case "id":
                    return p1.getIdUsuario().compareTo(p2.getIdUsuario());
                case "name":
                    return p1.getUsername().compareTo(p2.getUsername());
                case "phone":
                    return p1.getTelefono().compareTo(p2.getTelefono());
                case "tax_id":
                    return p1.getTaxId().compareTo(p2.getTaxId());
                case "created_at":
                    return p1.getFecha().compareTo(p2.getFecha());
                
                default:
            
            
            return 0;
            
        }
        }
        ).collect(toList());
        
    
        
        
        
    
    }

    
 @Override
public List<Usuario> Filter(String filterBy) {

    String filterValido = filterBy.replace(" ", "+");
    List<Usuario> lista = GetALL();

    if (filterBy == null || filterBy.isEmpty()) {
        throw new RuntimeException("El filtro no puede ser vacío");
    }

    String[] partes = filterValido.split("\\+");

    if (partes.length != 3) {
        throw new RuntimeException("Formato inválido. Usa: campo+operador+valor");
    }

    String campo = partes[0].toLowerCase();
    String operador = partes[1].toLowerCase();
    String valor = partes[2].toLowerCase();

    return lista.stream().filter(u -> {

        String campoValor = "";

        switch (campo) {
            case "email":
                campoValor = u.getEmail();
                break;
            case "id":
                campoValor = u.getIdUsuario();
                break;
            case "name":
                campoValor = u.getUsername();
                break;
            case "phone":
                campoValor = u.getTelefono();
                break;
            case "tax_id":
                campoValor = u.getTaxId();
                break;
            case "created_at":
                campoValor = u.getFecha().toString();
                break;
            default:
                return false;
        }

        if (campoValor == null) return false;

        campoValor = campoValor.toLowerCase();

        switch (operador) {
            case "co": // contains
                return campoValor.contains(valor);

            case "sw": // starts with
                return campoValor.startsWith(valor);

            case "ew": // ends with
                return campoValor.endsWith(valor);

            case "eq": // equals
                return campoValor.equals(valor);

            default:
                throw new RuntimeException("Operador no válido");
        }

    }).collect(toList());
}

    @Override
    public Result Post( Usuario usuario) {
        
        Result result = new Result();
        try{
            usuario = new Usuario(usuario.getIdUsuario(), usuario.getEmail(), usuario.getPassword(), usuario.getTaxId(),usuario.getTelefono(), usuario.getUsername(), usuario.getFecha(), usuario.getDirecciones());
            lista = usuarioComponent.getLista();
            lista.add(usuario);
            result.correct = true;
            
        }catch(Exception ex){
            result.correct = false;
            result.errorMessage = ex.getLocalizedMessage();
            result.ex = ex;
        }
        return result;
    }


}
                
        
    

COMPONENT 


/*
 * Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
 * Click nbfs://nbhost/SystemFileSystem/Templates/Classes/Class.java to edit this template
 */
package Component;

import DAraizaPruebaTecnicaSortedFilter.demo.DAO.UsuarioNoDAOImplementation;
import DAraizaPruebaTecnicaSortedFilter.demo.ML.Direccion;
import DAraizaPruebaTecnicaSortedFilter.demo.ML.Result;
import DAraizaPruebaTecnicaSortedFilter.demo.ML.Usuario;
import jakarta.annotation.PostConstruct;
import java.time.LocalDate;
import java.time.Month;
import java.util.ArrayList;
import java.util.List;
import java.util.UUID;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

/**
 *
 * @author digis
 */
@Component
public class UsuarioComponent {
    
        private final List<Usuario> usuarios = new ArrayList<>();
        
    @PostConstruct
    public void PostContructUsuario(){

          UUID uuid = UUID.randomUUID();
        String uuidString = uuid.toString();
        Result result = new Result();
//        try{
        ArrayList<Direccion> direcciones = new ArrayList<>();
        Usuario usuario1 = new Usuario();
        
        usuario1.setIdUsuario(uuidString);
        usuario1.setEmail("usuario@email.com");
        usuario1.setFecha(LocalDate.of(2000, Month.MARCH, 19));
        usuario1.setTaxId("FFAFAFLLFM4OO444");
        usuario1.setTelefono("7444494504");
        usuario1.setUsername("Usuario1");
        usuario1.setPassword("Welcome01");

        usuario1.Direcciones = new ArrayList<>();
        Direccion direccion1 = new Direccion();
        direccion1.setIdDireccion(1);
        direccion1.setCalle("Revolucion");
        direccion1.setNombre("Direccion casa");
        direccion1.setPais("MX");
        
        usuario1.Direcciones.add(direccion1);
        
        Direccion direccion2 = new Direccion();
        direccion2.setIdDireccion(2);
        direccion2.setCalle("Reforma");
        direccion2.setNombre("Direccion Trabajo");
        direccion2.setPais("MX");
        
        usuario1.Direcciones.add(direccion2);
        
        Usuario usuario2 = new Usuario();
        usuario2.setIdUsuario(uuidString);
        usuario2.setEmail("usuario2@email.com");
        usuario2.setFecha(LocalDate.of(1990, Month.AUGUST, 2));
        usuario2.setTaxId("sSDADAFA4433");
        usuario2.setTelefono("6444494504");
        usuario2.setUsername("Usuario2");
        usuario2.setPassword("Welcome01");

        usuario2.Direcciones = new ArrayList<>();
        Direccion direccion3 = new Direccion();
        direccion3.setIdDireccion(3);
        direccion3.setCalle("Cuzco");
        direccion3.setNombre("Direccion casa");
        direccion3.setPais("MX");
        
        usuario2.Direcciones.add(direccion3);
        
        Usuario usuario3 = new Usuario();
        usuario3.setIdUsuario(uuidString);
        usuario3.setEmail("usuario@email.com");
        usuario3.setFecha(LocalDate.of(2003, Month.MARCH, 29));
        usuario3.setTaxId("FFAFAFLLFM4OO444");
        usuario3.setTelefono("5444494504");
        usuario3.setUsername("Usuario1");
        usuario3.setPassword("Welcome01");

        usuario3.Direcciones = new ArrayList<>();
        Direccion direccion4 = new Direccion();
        direccion4.setIdDireccion(4);
        direccion4.setCalle("Matanza");
        direccion4.setNombre("Direccion casa");
        direccion4.setPais("MX");
        
        usuario3.Direcciones.add(direccion4);
        
        usuarios.add(usuario1);
        usuarios.add(usuario2);
        usuarios.add(usuario3);
        
    }
    public List<Usuario> getLista() {
        return usuarios;
    }
}
    
    
   component
  
  
  
  import { Component, OnInit } from '@angular/core';
import { RouterLink } from '@angular/router';
import { PokemonModel } from '../Interfaces/pokemon-model';
import { Service } from '../Service/service';

@Component({
  selector: 'app-pokemon-main-component',
  imports: [],
  templateUrl: './pokemon-main-component.html',
  styleUrl: './pokemon-main-component.css',
})
export class PokemonMainComponent implements OnInit{
        public pokemones : PokemonModel [] = []; 

        constructor (private service : Service){}

        ngOnInit(): void {
          this.getAll();
        }

        getAll(){
          this.service.getAll().subscribe(
            data => {
              this.pokemones  = data;
              console.log(data);
              }, error => {
                console.error('Error:', error);
              }
          );
        }
      }

import { Component, OnInit } from '@angular/core';
import { RouterLink } from '@angular/router';
import { PokemonModel } from '../Interfaces/pokemon-model';
import { Service } from '../Service/service';

@Component({
  selector: 'app-pokemon-main-component',
  imports: [],
  templateUrl: './pokemon-main-component.html',
  styleUrl: './pokemon-main-component.css',
})
export class PokemonMainComponent implements OnInit{
        public pokemones : PokemonModel [] = []; 

        constructor (private service : Service){}

        ngOnInit(): void {
          this.getAll();
        }

        getAll(){
          this.service.getAll().subscribe(
            data => {
              this.pokemones  = data;
              console.log(data);
              }, error => {
                console.error('Error:', error);
              }
          );
        }
      }


      service

      import { Injectable } from '@angular/core';
import {HttpClient} from '@angular/common/http'
import {  map, Observable } from 'rxjs';

import { observableToBeFn } from 'rxjs/internal/testing/TestScheduler';
import { PokemonModel, PokemonResponse } from '../Interfaces/pokemon-model';
import { ResultModel } from '../Interfaces/result-model';

@Injectable({
  providedIn: 'root',
})
export class Service {

  private url: string = "https://pokeapi.co/api/v2/pokemon";
  private urlId: string = "https://pokeapi.co/api/v2/pokemon/";

  constructor (private http: HttpClient){}



getByiD(nombre: string){
  return this.http.get<PokemonResponse>(this.urlId + nombre);
} 
   


getAll() {
  return this.http.get<PokemonResponse>(this.url).pipe(
    map(response => {
      return response.results.map(p => {
        const id = Number(p.url.split('/').filter(Boolean).pop());

        return {
          name: p.name,
          url: p.url,
          idPokemon: id,
          image: `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`
        };
      });
    })
  );
}
}

interfadce

export interface PokemonModel {
    idPokemon: number,
    name: string,
    url: string,
    image: string
}

export interface PokemonResponse {
  results: PokemonModel[];
