<style>
    li {
        list-style: none;
    }
</style>

<body class="bg-dark text-white p-5">



    <h1 class="text-center mb-4 mt-4">Información del usuario <span>{{usuario?.Nombre}}</span></h1>

    <div class="card shadow border-0 bg-dark text-white">

        <div class="card-body p-4">

            <table class="table table-dark table-striped table-responsive border border-success table-hover">
                <thead>
                    <tr>
                        <th>
                            <p>Imagen de {{usuario?.Nombre}}</p>
                        </th>
                        <th>
                            <p>Información del Usuario</p>
                        </th>
                        <th>
                            <p>Informacion de contacto</p>
                        </th>
                        <th>
                            <p>Acciones</p>
                        </th>



                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="text-center">
                            <li>
                                <img class="m-2" [src]="'data:image/png;base64,' + usuario?.Imagen"
                                    style="width:  150px" />
                            </li>
                            <li>
                                <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#imgUpdate">Actualizar
                                    imagen</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <p><span><i class="bi bi-person-badge-fill"> </i></span> {{usuario?.Nombre + ' ' +
                                    usuario?.ApellidoPaterno + ' ' + usuario?.ApellidoMaterno}}
                                </p>
                            </li>
                            <li>
                                <p><span>CURP:</span> {{usuario?.CURP}}</p>
                            </li>
                            <li>
                                <p><span><i class="bi bi-calendar-date"></i></span> {{usuario?.FechaNacimiento}}</p>
                            </li>
                            <li>
                                <p><span><i class="bi bi-person-standing"></i> </span> {{usuario?.Sexo}}</p>
                            </li>

                        </td>
                        <td>
                            <li>
                                <p><span><i class="bi bi-telephone-fill"></i></span> {{usuario?.NumeroTelefonico}}</p>
                            </li>
                            <li>
                                <p><span><i class="bi bi-person-fill"></i></span> {{usuario?.Username}}</p>
                            </li>
                            <li>
                                <p><span><i class="bi bi-envelope-at"></i></span> {{usuario?.Email}}</p>
                            </li>

                            @for (roles of usuario?.Roles; track roles.idRol) {
                            <li>
                                <p><span><i class="bi bi-person-vcard"></i></span> {{roles.NombreRol}}</p>
                            </li>
                            }
                        </td>
                        <td>






                    </tr>

                </tbody>



            </table>

        </div>


    </div>

    <div class="card shadow border-0 bg-dark text-white">

        <div class="card-body p-4">

            <h3 class="card-title text-success mb-3">Direcciones del usuario {{usuario?.Nombre}}</h3>

            <table class="table table-dark table-striped table-responsive border border-success table-hover">

                <thead>
                    <tr>

                        <th>
                            <p>Direccion</p>
                        </th>
                        <th>
                            <p>Municipio</p>
                        </th>
                        <th>
                            <p>Estado</p>
                        </th>
                        <th>
                            <p>Pais</p>
                        </th>
                        <th>
                            <p><a class="btn btn-success ms-4" data-bs-toggle="modal"
                                    data-bs-target="#modalAddDireccion"> <i class="bi bi-house-add-fill"></i> Agregar
                                    direccion</a></p>


                        </th>


                    </tr>

                </thead>

                @for(direccion of usuario?.Direcciones; track direccion.idDireccion){
                <tbody>

                    <!--direccion-->
                    <th>
                        <li>
                            <p><i class="bi bi-geo-alt"></i><span> {{direccion.Calle}}, {{direccion.NumeroInterior}},
                                    {{direccion.NumeroExterior}}, {{direccion.colonia.Nombre}}, CP:
                                    {{direccion.colonia.CodigoPostal}} </span></p>

                        </li>
                    </th>
                    <!--municipio-->

                    <th>
                        <p><span>{{direccion.colonia.municipio.Nombre}}</span></p>
                    </th>

                    <!--estado-->

                    <th>
                        <p><span>{{direccion.colonia.municipio.estado.Nombre}}</span></p>
                    </th>

                    <!--pais-->

                    <th>
                        <p><span>{{direccion.colonia.municipio.estado.pais.Nombre}} </span></p>
                    </th>

                    <!--acciones-->

                    <th>
                        <a class="btn btn-danger m-2"><i class="bi bi-house-dash-fill"
                                (click)="deleteDireccion(direccion.idDireccion)"></i> Eliminar</a>

                        <a class="btn btn-warning m-2" data-bs-toggle="modal" data-bs-target="#modalUpDireccion"><i
                                class="bi bi-house-gear-fill"></i> Editar</a>

                    </th>

                </tbody>

                }
                @empty {
                <div>
                    <p class="text-danger">(Sin direcciones)</p>
                </div>
                }






            </table>

        </div>


    </div>

    <!--Modal para actualizar direccion-->
    <div class="modal fade  bg-dark" id="modalUpDireccion" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl bg-dark" role="document">
            <div class="modal-content bg-dark border-success">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="exampleModalLongTitle">Actualizar direccion</h5>

                </div>
                <div class="modal-body bg-dark">
                    <div>
                        <form method="post" th:object="${direccion}"
                            th:action="@{/usuario/{idusuario}(idusuario=${usuario.IdUsuario})} ">

                            <div class="col-12 text-center m-4 text-success fs-3">Dirección del usuario</div>

                            <div class="row">
                                <div class="col-md-3">

                                    <label class="form-label text-white fs-5">Pais</label>
                                    <select id="ddlpais"
                                        class="form-select form-select-sm w-25 bg-dark text-success border-success"
                                        (change)="cambioPais($event)">

                                        <option value=0 selected> Seleccione un pais</option>

                                        @for (pais of paises; track pais.idPais) {
                                        <option id="idpais" [value]="pais.idPais" [text]="pais.Nombre"></option>
                                        }
                                    </select>

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="ddlestado" class="form-label text-white fs-5">Estado</label>
                                    <select class="form-select form-select-sm w-25 bg-dark text-success border-success"
                                        aria-label="Default select example"
                                        th:field="*{Direcciones[0].colonia.municipio.estado.idEstado}">
                                        <option value=0 selected>Seleccione un estado</option>
                                    </select>

                                </div>


                                <div class="col-md-3 w100">
                                    <label for="ddlmunicipio" class="form-label text-white fs-5">Municipio</label>
                                    <select id="ddlmunicipio"
                                        class="form-select form-select-sm w-25 bg-dark text-success border-success"
                                        aria-label="Default select example"
                                        th:field="*{Direcciones[0].colonia.municipio.idMunicipio}">
                                        <option value=0 selected>Seleccione un municipio</option>
                                    </select>

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="ddlcolonia" class="form-label text-white fs-5">Colonia</label>
                                    <select id="ddlcolonia"
                                        class="form-select form-select-sm w-25 bg-dark text-success border-success"
                                        aria-label="Default select example"
                                        th:field="*{Direcciones[0].colonia.idColonia}">
                                        <option value="0" selected>Selecciona tu Colonia</option>
                                    </select>

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="codigopostal" class="form-label text-white fs-5">CodigoPostal</label>
                                    <input id="codigopostal"
                                        class="form-control bg-dark border border-success text-success"
                                        placeholder="C.P.">

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="calle" class="form-label text-white fs-5">Calle</label>
                                    <input id="calle" class="form-control bg-dark border border-success text-success"
                                        th:field="*{Direcciones[0].Calle}">

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="numeroExterior" class="form-label text-white fs-5">Numero
                                        Exterior</label>
                                    <input id="numeroExterior"
                                        class="form-control bg-dark border border-success text-success"
                                        th:field="*{Direcciones[0].NumeroExterior}">

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="numeroInterior" class="form-label text-white fs-5">Numero
                                        interior</label>
                                    <input id="numeroInterior"
                                        class="form-control bg-dark border border-success text-success"
                                        th:field="*{Direcciones[0].NumeroInterior}">

                                </div>


                            </div>





                        </form>



                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success mb-4 w-10">Guardar</button>
                </div>



            </div>
        </div>


    </div>


    <!--Modal para agregar direccion-->
    <div class="modal fade  bg-dark" id="modalAddDireccion" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl bg-dark" role="document">
            <div class="modal-content bg-dark border-success">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="exampleModalLongTitle">Agregar nueva dirección</h5>

                </div>
                <div class="modal-body bg-dark">
                    <div>
                        <form method="post" th:object="${direccion}"
                            th:action="@{/usuario/{idusuario}(idusuario=${usuario.IdUsuario})} ">

                            <div class="col-12 text-center m-4 text-success fs-3">Dirección del usuario</div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label text-white fs-5">Pais</label>
                                    <select id="ddlpais"
                                        class="form-select form-select-sm w-25 bg-dark text-success border-success"
                                        th:field="*{colonia.municipio.estado.pais.idPais}">
                                        <option value=0 selected> Seleccione un pais</option>
                                        <option th:each="pais : ${paises}" th:value="${pais.idPais}"
                                            th:text="${pais.Nombre}"></option>
                                    </select>

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="ddlestado" class="form-label text-white fs-5">Estado</label>
                                    <select class="form-select form-select-sm w-25 bg-dark text-success border-success"
                                        aria-label="Default select example"
                                        th:field="*{Direcciones[0].colonia.municipio.estado.idEstado}">
                                        <option value=0 selected>Seleccione un estado</option>
                                    </select>

                                </div>


                                <div class="col-md-3 w100">
                                    <label for="ddlmunicipio" class="form-label text-white fs-5">Municipio</label>
                                    <select id="ddlmunicipio"
                                        class="form-select form-select-sm w-25 bg-dark text-success border-success"
                                        aria-label="Default select example"
                                        th:field="*{Direcciones[0].colonia.municipio.idMunicipio}">
                                        <option value=0 selected>Seleccione un municipio</option>
                                    </select>

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="ddlcolonia" class="form-label text-white fs-5">Colonia</label>
                                    <select id="ddlcolonia"
                                        class="form-select form-select-sm w-25 bg-dark text-success border-success"
                                        aria-label="Default select example"
                                        th:field="*{Direcciones[0].colonia.idColonia}">
                                        <option value="0" selected>Selecciona tu Colonia</option>
                                    </select>

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="codigopostal" class="form-label text-white fs-5">CodigoPostal</label>
                                    <input id="codigopostal"
                                        class="form-control bg-dark border border-success text-success"
                                        placeholder="C.P.">

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="calle" class="form-label text-white fs-5">Calle</label>
                                    <input id="calle" class="form-control bg-dark border border-success text-success"
                                        th:field="*{Direcciones[0].Calle}">

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="numeroExterior" class="form-label text-white fs-5">Numero
                                        Exterior</label>
                                    <input id="numeroExterior"
                                        class="form-control bg-dark border border-success text-success"
                                        th:field="*{Direcciones[0].NumeroExterior}">

                                </div>

                                <div class="col-md-3 w100">
                                    <label for="numeroInterior" class="form-label text-white fs-5">Numero
                                        interior</label>
                                    <input id="numeroInterior"
                                        class="form-control bg-dark border border-success text-success"
                                        th:field="*{Direcciones[0].NumeroInterior}">

                                </div>


                            </div>





                        </form>



                    </div>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success mb-4 w-10" >Guardar</button>
                </div>



            </div>
        </div>


    </div>

    <!--Model actualizar imagen-->
    <div class="modal fade bg-dark" id="imgUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark border-success">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="exampleModalLongTitle">Actualizar Imagen</h5>
                </div>
                <div class="modal-body">
                    <form >

                        <div class="col-md-4 text-center d-flex flex-column align-items-center">
                            <div class="card p-3 w-100 h-100">
                                <label class="form-label fw-bold">Imagen</label>
                                <input type="file" (change)="imagenCargada($event)" accept="image/*"
                                    class="form-control mb-2" name="imagenFile" id="imagenFile"
                                    formControlName="Imagen">
                                <img id="previewImage" style="max-width: 300px; max-height: auto" class="mx-auto"
                                    src="#" />
                            </div>
                        </div>

                    </form>

                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success mb-4 w-10" (click)="updateImagen(usuario?.IdUsuario)">Guardar</button>
            </div>
        </div>


    </div>


</body>